{% extends 'rank.html' %}
{% load humanize %}
{% load percentage %}

{% block result %}
<div class="span-24"> 
{% if rank_results %}
   <table class="table table-striped">
        {% for _, stock in rank_results %}
            {% if forloop.first %}
        <thead>
            <tr>
             <th>Rank</th>
             <th>Code</th>
             <th>Name</th>
             {% if stock.roe %}<th>ROE</th>{% endif %}
             {% if stock.roe__avg %}<th>ROE Average</th>{% endif %}
             {% if stock.pe %}<th>PE</th>{% endif %}
             {% if stock.market_cap %}<th>Market Cap</th>{% endif %}
             {% if stock.debt_perc %}<th>Debt</th>{% endif %}
      </tr></thead>
      <tbody>
      {% endif %}
      <tr>
             <td>{{ forloop.counter }}</td>
             <td>{% if stock.code__code %}<a href='http://au.finance.yahoo.com/q?s={{ stock.code__code }}.AX'>{{ stock.code__code }}</a>{% endif %}</td>
             <td>{% if stock.code__name %}<a href='http://au.finance.yahoo.com/q?s={{ stock.code__name }}.AX'>{{ stock.code__name }}</a>{% endif %}</td>
             {% if stock.roe %}<td>{{ stock.roe|percentage }}</td>{% endif %}
             {% if stock.roe__avg %}<td>{{ stock.roe__avg|percentage }}</td>{% endif %}
             {% if stock.pe %}<td>{{ stock.pe }}</td>{% endif %}
             {% if stock.market_cap %}<td>{{ stock.market_cap|intword }}</td>{% endif %}
             {% if stock.debt_perc %}<td>{{ stock.debt_perc }}%</td>{% endif %}
      </tr>
{% endfor %}
      </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
