{% extends 'rank.html' %}
{% load humanize %}
{% load percentage %}

{% block result %}
<div class="span-24"> 
{% if rank_results %}
   <table class="table">
        {% for _, stock in rank_results %}
            {% if forloop.first %}
        <thead>
            <tr>
             <th>Rank</th>
             <th>Code</th>
             <th>Name</th>
             <th>ROE</th>
             <th>PE</th>
             <th>Market Cap</th>
             <th>Debt</th>
      </tr></thead>
      <tbody>
      {% endif %}
      <tr>
             <td>{{ forloop.counter }}</td>
             <td>{% if stock.code__code %}<a href='http://au.finance.yahoo.com/q?s={{ stock.code__code }}.AX'>{{ stock.code__code }}</a>{% endif %}</td>
             <td>{% if stock.code__name %}<a href='http://au.finance.yahoo.com/q?s={{ stock.code__name }}.AX'>{{ stock.code__name }}</a>{% endif %}</td>
             <td>{% if stock.roe %}{{ stock.roe|percentage }}{% endif %}</td>
             <td>{% if stock.pe %}{{ stock.pe }}{% endif %}</td>
             <td>{% if stock.market_cap %}{{ stock.market_cap|intword }}{% endif %}</td>
             <td>{% if stock.total_debt_ratio %}{{ stock.total_debt_ratio|percentage }}{% endif %}</td>
      </tr>
{% endfor %}
      </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
