{% load static %}
{% load compress %}
<!DOCTYPE html>
<html ng-app="rankerApp"> 
    <head> 
        <title>Magic Ranker - an ASX implementation of the Magic Formula</title> 
        <meta http-equiv="content-type" content="text/html; charset=utf-8"> 
        <meta name="description" content=""> 
        <meta name="author" content=""> 
        <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap-theme.min.css' %}" />
        <script type='text/javascript' src='{% static 'jquery/jquery.js' %}'></script>
        <script type="text/javascript" src="{% static 'angular/angular.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'angular-bootstrap/ui-bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script> 
        {% if debug %}
        <link rel="stylesheet/less" type="text/css" media="all" href="{% static 'less/theme.less' %}" />
        <link rel="stylesheet/less" type="text/css" media="all" href="{% static 'less/bs3-stacked-tabs.less' %}" />
        <script src="{% static 'less/dist/less.min.js' %}"></script>
        {% else %}
        {% compress css %}
        <link rel="stylesheet" type="text/less" media="all" href="{% static 'less/theme.less' %}" />
        <link rel="stylesheet" type="text/less" media="all" href="{% static 'less/bs3-stacked-tabs.less' %}" />
        {% endcompress %}
        {% endif %}
    </head> 
    <body>
        <div id="wrap">
            <div class="container">
                <div id="header" class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <h1>
                                <a href="/" alt="MagicRanker"><img src="/static/images/Title.gif"></a><small>An ASX-ranking system based on the <a href="http://www.magicformulainvesting.com/welcome.html">Magic Formula</a>.</small>
                            </h1>
                        </div>
                        <div class="row">
                            <span id="slogan">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="tabbable tabs-below">
                                <ul class="nav nav-tabs"> 
                                    <li class="{% if request.path != '/info' and request.path != '/contact' %}active{% endif %}"><a href="/">Home</a></li> 
                                    <li class="{% if request.path == '/info' %}active{% endif %}"><a href="/info">Info</a></li> 
                                </ul>
                        </div>
                    </div>
                </div>
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <footer id="footer">
            <div class="container">
                    <p>Based on ideas from Joel Greenblat's <a href="http://www.amazon.com/Little-Book-That-Beats-Market/dp/0471733067">The Little Book That Beats the Market</a>. </p> 
                    <p>Site by <a href="http://www.lextoumbourou.com">Lex Toumbourou</a>.</p>
            </div> 
        </footer> 
        <script type='text/javascript' src='{% static 'bootstrap/dist/js/bootstrap.min.js' %}'></script>
        <script>
            {% include 'ga.html' %}
        </script>
    </body>
</html>
