<!DOCTYPE html>
<html lang="en"> 
    <head> 
        <title>Magic Ranker - an ASX implementation of the Magic Formula</title> 
        <meta http-equiv="content-type" content="text/html; charset=utf-8"> 
        <meta name="description" content=""> 
        <meta name="author" content=""> 
        <!--YUI specific load--> 
        <!-- Utility Dependencies --> 
        <!-- Combo-handled YUI CSS files: --> 
        <link rel="stylesheet" type="text/css" href="/static/yui/build/assets/skins/sam/skin.css"> 
        <link rel="stylesheet" type="text/css" href="/static/yui/build/container/assets/container.css"> 
        <!-- Combo-handled YUI JS files: --> 
        <script type="text/javascript" src="/static/yui/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
        <script type="text/javascript" src="/static/yui/build/element/element-min.js" ></script> 
        <script type="text/javascript" src="/static/yui/build/button/button-min.js"></script> 
        <script type="text/javascript" src="/static/yui/build/connection/connection-min.js"></script> 
        <script type="text/javascript" src="/static/yui/build/datasource/datasource-min.js"></script> 
        <script type="text/javascript" src="/static/yui/build/dragdrop/dragdrop-min.js"></script> 
        <script type="text/javascript" src="/static/yui/build/datatable/datatable-min.js"></script> 
        <script type="text/javascript" src="/static/yui/build/slider/slider-min.js"></script> 
        <script type="text/javascript" src="/static/yui/build/animation/animation-min.js"></script> 
        <script type="text/javascript" src="/static/yui/build/container/container-min.js"></script> 
        <script type="text/javascript" src="/static/yui/build/yahoo-dom-event/yahoo-dom-event.js"></script>	
        <!--End--> 
        <!--Blueprint specific load--> 
        <!-- Reset all style, fonts and setup grids --> 
        <link rel="stylesheet" type="text/css" href="/static/blueprint/screen.css" media="screen, projection" /> 
        <link rel="stylesheet" type="text/css" href="/static/blueprint/print.css" media="print" /> 
        <!--[if IE]><link rel="stylesheet" href="/static/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->  
        <!--End--> 
        <!-- Load my CSS file --> 
        <link rel="stylesheet" href="/static/css/style.css"> 
        <!--<script src="http://valueinvestingtools.com/magicranker/static/yui/js/libs/modernizr-1.7.min.js"></script>--> 
    </head> 
    <body class="yui-skin-sam">	
        <div class="container">				
            <div id="header" class="span-19"> 
                <h1><a href="/"><span></span>{% block title %}Magic Ranker{% endblock %}</a></h1> 
            </div> 
            <div id="main-menu" class="span-5 last"> 
                <ul> 
                    <li><a href="/">Home</a></li> 
                    <li><a href="/info">Info</a></li> 
                    <li><a href="/contact">Contact</a></li> 
                </ul> 
            </div> 
            <div id="slogan" class="span-24"> 
                An ASX implementation of the <a href="http://www.magicformulainvesting.com/welcome.html">Magic Formula</a>. Start <a href="/info">here</a>.
            </div>
            {% block form %}
            <form action="/rank" accept-charset="utf-8" method="GET" class="email" id="myform">	
                <div class="span-8"> 
                    <h2 class="subtitle" id="rank"><span></span>Rank?</h2> 
                    <div class="span-4"> 
                        <div class="panel"> 
                            <h3 id="roe_title">ROE?</h3>	
                            <p>
                                <input id="roe_check" type="checkbox" name="rank_roe" value="Yes" /><br /> 
                                <div id="roe_group"> 
                                
                                Max:
                                <select name="rank_roe_max">
                                    <option value=""></option>
                                    <option value="1.0">100</option>
                                    <option value="0.70">70</option>
                                    <option value="0.50">50</option>
                                    <option value="0.30">30</option>
                                </select> %<br>
                                Avg:  
                                <select name="rank_roe_avg">
                                        <option value=0>0</option>
                                        <option value=2>2</option>
                                        <option value=3>3</option>
                                        <option value=5>5</option>
                                        <option value=10>10</option>
                                </select> years<br>
                            </div>
                            </p> 
                            <div class="hidden"><input id="roe_hidden" type="checkbox" name="roe_hidden" value="Yes" {% if roe_hidden %}checked{% endif %}/>Hidden?</div> 
                        </div> 
                    </div> 
                    <div class="span-4 last"> 
                        <div class="panel"> 
                            <h3 id="pe_title">PE?</h3>	
                            <p>	
                                <input id="rank_pe" type="checkbox" name="rank_pe" value="Yes" /><br /> 
                                <div class="radio_group" id="pe_check_group"> 
                                    Min: 
                                    <select name="rank_pe_min">
                                        <option value="0">0</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                    </select> %<br>
                                </div> 
                            </p> <div class="hidden"><input id="pe_hidden" type="checkbox" name="pe_hidden" value="Yes" {% if pe_hidden %}checked{% endif %}/>Hidden?</div> 
                        </div> 
                    </div> 
                </div>		
                <div class="span-8"> 
                    <h2 class="subtitle" id="filter"><span></span>Filter?</h2>	
                        <div class="span-4"> 
                            <div class="panel"> 
                                <h3 id="mcap_title">M Cap?</h3> 
                                <input id="filt_market_cap" type="checkbox" name="filt_market_cap" value="Yes" /><br /> 
                                    <p> 
                                        <div id="market_cap_group"> 
                                            Min: 
                                            <select name="filt_market_cap_min">
                                                <option value="0">0</option>
                                                <option value="25000000">250</option>M
                                                <option value="50000000">500</option>
                                                <option value="1000000000">1000</option>
                                            </select> M
                                        </div>	
                                    </p> 
                                    <div class="hidden"><input id="market_cap_hidden" type="checkbox" name="market_cap_hidden" value="Yes" {% if market_cap_hidden %}checked{% endif %}/>Hidden?</div> 
                                </div>				
                            </div> 
                            <div class="span-4 last"> 
                                <div class="panel"> 
                                    <h3 id="debt_title">Debt?</h3> 
                                    <p> 
                                        <input id="debt_check" type="checkbox" name="debt_check" value="Yes" /><br /> 
                                           <div id="debt_group"> 
                                            Max: 
                                               <select>
                                                   <option value="">Any</option> 
                                                   <option value="75">75</option> 
                                                   <option value="50">50</option> 
                                                   <option value="25">25</option> 
                                                   <option value="10">25</option> 
                                               </select> %
                                        </div>	
                                    </p> 
                                    <div class="hidden">
                                        <input id="debt_hidden" type="checkbox" name="debt_hidden" value="Yes" {% if debt_hidden %}checked{% endif %}/>Hidden?</div> 
                                    </div> 
                                </div> 
                            </div> 
                            <div class="span-8 last"> 
                                <h2 class="subtitle" id="limit"><span></span>Limit?</h2> 
                                <div class="span-4"> 
                                    <div class="panel"> 
                                        <h3>Number? </h3> 
                                        <p> 
                                            <div class="radio_group" id="limit_group"> 
                                                <input type="radio" name="limit" value="50" checked /><label for="limit_50">50</label><br /> 
                                                <input type="radio" name="limit" value="30"  {% if limit == 30 %}checked{% endif %} /><label for="limit_30">30</label><br /> 
                                                <input type="radio" name="limit" value="10"  {% if limit == 10 %}checked{% endif %}/><label for="limit_10">10</label><br /> 
                                            </div> 
                                        </p> 
                                    </div> 
                                </div> 
                                <div class="span-4 last"> 
                                </div> 
                        </div> 
                    <div class="span-24"> 
                        <button id="main_submit" name="main_submit" type="submit">Submit</button> 
                    </div> 

                    <script type="text/javascript"> 
                        {% include 'main.js' %}
                    </script>		
            {% endblock %}
            {% block content %}
            {% endblock %}
            <div id="footer" class="span-24">	
                <p>Based on ideas from Joel Greenblat's <a href="http://www.amazon.com/Little-Book-That-Beats-Market/dp/0471733067">The Little Book That Beats the Market</a>. </p> 
                <p>Site by <a href="mailto:lextoumbourou@gmail.com">Lex Toumbourou</a> in 2011.</p>	
            </div> 
        </div> 
    </body> 
</html> 
