{% extends 'base.html' %}

{% block content %}
<div class="span-24"> 
    <h2 class="subtitle" id="contact_me"><span></span>Contact Me</h2> 
    <p> 
        If you want to get in contact:<br /> 
        <h3>Email</h3>
        <a href="mailto:lextoumbourou@gmail.com">lextoumbourou@gmail.com</a><br /> <br />
        <h3>Twitter</h3>
        <a href="http://twitter.com/lexandstuff">http://twitter.com/lexandstuff</a><br /> <br />
        <h3>GitHub</h3>
        <a href="https://github.com/lextoumbourou">https://github.com/lextoumbourou</a><br /> <br />
        <!--My blog is: http://www.lexandstuff.com--> 
        <h3>LinkedIn</h3> <a href="http://www.linkedin.com/profile/view?id=22294848">http://www.linkedin.com/profile/view?id=22294848</a><br /> <br />
    </p> 
</div> 
{% endblock %}
