{% extends 'base.html' %}

{% block content %}
<div class="span-24">
    <h2 class="subtitle" id="about_the_site"><span></span>About The Site</h2> 
    <p>
        Magic Ranker is an ASX (Australian Stock Exchange) ranking tool based on the Magic Formula ranking system from Joel Greenblatt's book, <a href='http://www.amazon.com/Little-Book-That-Beats-Market/dp/0471733067'>The Little Book That Beats The Market</a>.<br /><br /> 

	 
        Magic Ranker is a not-for-profit site. The site exists because I really liked the ideas in Joel's book but couldn't find an online tool like <a href='http://www.magicformula.com'>MagicFormula.com</a> for the ASX.<br /><br /> 
	 
        The site was written in Python using the <a href='https://www.djangoproject.com/'>Django</a> framework. The ranking and averaging is handled by the incredible <a href="http://pandas.pydata.org/">pandas</a> library. The source code is available on <a href="https://github.com/lextoumbourou/magicranker.com">Github</a>.
    </p> 
    <h2 class="subtitle" id="disclaimer"><span></span>Disclaimer</h2> 
    <p> 
        The data is sourced from various places on the internet and should only be used for personal use.<br /><br /> 
        I can't promise the data on here is correct - though I'm basing my entire investing strategy off it, so I hope it is! I'm not a Financal Professional and can't really tell you if using this tool is a good idea or not.<br /><br /> 
        Lastly, I don't make any uptime guarantees and I expect it'll be sometimes broken. Feel free to get in touch with me if something isn't right and I'll do my best to look at it.
    </p> 
    <h2 class="subtitle" id="about_me"><span></span>About Me</h2> 
    <p> 
        My name is Lex Toumbourou. I'm a DevOps guys at Telstra. I <i>really</i> love to code though I'm also interested in all sorts of stuff, including <a href="http://5-footnothing.com">music production</a>.<br /><br />  
        You can read stuff I've written on my <a href="http://www.lextoumbourou.com">blog</a>; find me on <a href="http://twitter.com/lexandstuff">Twitter</a>, <a href="http://au.linkedin.com/in/lextoumbourou">LinkedIn</a> and <a href="https://github.com/lextoumbourou">Github</a>; or email me at <a href="mailto:lextoumbourou@gmail.com">lextoumbourou@gmail.com</a>.<br><br>
    </p> 
</div> 
{% endblock %}
