{% extends 'base.html' %}

{% block content %}
<div class="span-24">
    <h2 class="subtitle" id="about_the_site"><span></span>About The Site</h2> 
    <p>
        Magic Ranker is an ASX (Australian Stock Exchange) ranking tool based on the Magic Formula ranking system from Joel Greenblatt's book, <a href='http://www.amazon.com/Little-Book-That-Beats-Market/dp/0471733067'>The Little Book That Beats The Market</a>.<br /><br /> 

        The data is provided by <a href='http://au.finance.yahoo.com/'>Yahoo Finance</a> and should only be used for personal use. I can't vouch for the integrity of it.<br /><br /> 
	 
        Magic Ranker is a not-for-profit site. I don't make any money off it, nor do I intend to. The site is here because I really liked the ideas in Joel's book but couldn't find an online tool like <a href='http://www.magicformula.com'>MagicFormula.com</a> for the ASX.<br /><br /> 
	 
        The site was written in Python using the <a href='https://www.djangoproject.com/'>Django</a> framework. I am looking to open-source it very soon.
    </p> 
    <h2 class="subtitle" id="disclaimer"><span></span>Disclaimer</h2> 
    <p> 
        I can't promise the data on here is correct. So please don't base your entire investment strategy off this website. It's your future. Consult a Finance Professional for assistance, but please make sure it's one who knows what they're doing.<br /><br /> 
        As with anything worth doing, make sure you as much research as possible. Read good books written by people who are successful and make sure they were successful before they became authors.<br /><br /> 
        Lastly, I don't make any uptime guarantees with this site and probably never will. Feel free to get in touch with me if the site is broken in anyway and I'll do my best to look at it.
    </p> 
    <h2 class="subtitle" id="about_me"><span></span>About Me</h2> 
    <p> 
        My name is Lex Toumbourou. I'm a DevOps guys at Telstra. I <i>really</i> love to code but I'm also interested in all sorts of stuff. I also produce <a href="http://5-footnothing.com">music</a>.<br /><br />  
        You can read stuff I've written on my <a href="http://www.lextoumbourou.com">blog</a>. Or you can find me on <a href="http://twitter.com/lexandstuff">Twitter</a>, <a href="http://au.linkedin.com/in/lextoumbourou">LinkedIn</a> and <a href="https://github.com/lextoumbourou">Github</a>. Or just email me at <a href="mailto:lextoumbourou@gmail.com">lextoumbourou@gmail.com</a>.<br><br>
    </p> 
</div> 
{% endblock %}
