{% extends 'base.html' %}

{% block body %}
{% raw %}
<div class="row" ng-controller="RankChoicesCtrl">
  <div class="col-md-2 method-controls-section">
    <form role="form" action="/rank" method="GET" id="myform">
      <div class="controls" ng-init="init()">
        <div class="row" > <!-- Rank Section -->
          <div class="row"> <!-- Rank Header -->
            <div class="col-md-12"> 
              <h2 class="subtitle" id="rank"><span></span>Rank?</h2> 
            </div>
          </div> <!-- End Rank Header -->

          <div class="row">
            <div class="col-md-12"> 

              <div class="panel" ng-repeat="method in rankMethods"> 

                <div class="row panel-header"> <!-- Panel Header -->
                  <div class="col-xs-8">
                    <div class="title">{{ method.human_name }}</div>	
                  </div>
                  <div class="col-xs-4 method-check">
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-default btn-sm"  ng-click="selectMethod(method)">
                        <input type="checkbox" id="rank_roe_set_btn"
                        ng-model="method.is_selected">
                        <span class="glyphicon glyphicon-ok"></span>
                      </label>
                    </div>
                  </div>
                </div> <!-- End Panel Header -->

                <div class="extra-controls" ng-show="method.is_selected">

                  <div data-ng-show="method.max.changeable" class="row extra-control-group">
                    <div class="col-xs-2">
                      <label for="rank_row_max" class="control-label">Max</label>
                    </div>
                    <div class="col-xs-8  col-xs-offset-1">
                      <select class="form-control" ng-change="getRank(method)" ng-model="method.max.value" ng-options="choice.value as choice.display for choice in method.max.choices">
                        <option value=""></option>
                      </select>
                    </div>
                  </div>

                  <div data-ng-show="method.min.changeable" class="row extra-control-group">
                    <div class="col-xs-2">
                      <label for="rank_row_avg" class="control-label">Min</label>
                    </div>
                    <div class="col-xs-8 col-xs-offset-1">
                      <select class="form-control" ng-change="getRank(method)"  ng-model="method.min.value" ng-options="choice.value as choice.display for choice in method.min.choices">
                      </select>
                    </div>
                  </div>

                  <div data-ng-show="method.average.changeable" class="row extra-control-group">
                    <div class="col-xs-2">
                      <label for="rank_row_avg" class="control-label">Avg</label>
                    </div>
                    <div class="col-xs-8 col-xs-offset-1">
                      <select class="form-control" ng-change="getRank(method)"  ng-model="method.average.value" ng-options="choice.value as choice.display for choice in method.average.choices">
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- End Rank Section -->

        <div class="row"> <!-- Filter Section -->

          <div class="row"> <!-- Filter Header -->
            <div class="col-md-12"> 
              <h2 class="subtitle" id="filter"><span></span>Filter?</h2>  
            </div>
          </div> 

          <div class="row">
            <div class="col-md-12">

              <div class="panel" ng-repeat="method in filterMethods"> 

                <div class="row panel-header"> <!-- Panel Header -->
                  <div class="col-xs-8">
                    <div class="title">{{ method.human_name }}</div> 
                  </div>
                  <div class="col-xs-4 method-check">
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-default btn-sm" ng-click="selectMethod(method)">
                        <input type="checkbox"
                        ng-model="method.is_selected" ng-checked="method.is_selected">
                        <span class="glyphicon glyphicon-ok"></span>
                      </label>
                    </div>
                  </div>
                </div> <!-- End Panel Header -->

                <div class="extra-controls" ng-show="method.is_selected">
                  <div data-ng-show="method.max.changeable" class="row extra-control-group">
                    <div class="col-xs-2">
                      <label for="rank_row_max" class="control-label">Max</label>
                    </div>
                    <div class="col-xs-8  col-xs-offset-1">
                      <select class="form-control" ng-change="getRank(method)" ng-model="method.max.value" ng-options="choice.value as choice.display for choice in method.max.choices">
                      </select>
                    </div>
                  </div>

                  <div data-ng-show="method.min.changeable" class="row extra-control-group">
                    <div class="col-xs-2">
                      <label for="rank_row_avg" class="control-label">Min</label>
                    </div>
                    <div class="col-xs-8 col-xs-offset-1">
                      <select class="form-control" ng-change="getRank(method)"  ng-model="method.min.value" ng-options="choice.value as choice.display for choice in method.min.choices">
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div> <!-- End Filter Section -->
      </div>
    </div>
    <div class="col-md-10">
      <div class="row general-controls">
        <div class="col-xs-2">
          <a href="#" name="main_submit" class="btn btn-default btn-sm" ng-click="getRank()">
            <span class="glyphicon glyphicon-repeat"></span>
          </a>
        </div>
        <div class="col-xs-offset-8 col-xs-2">
          <input type="radio" name="limit" ng-model="limit" ng-change="setLimit(50)" value="50"> 50
          <input type="radio" name="limit" ng-model="limit" ng-change="setLimit(30)" value="30"> 30
          <input type="radio" name="limit" ng-model="limit" ng-change="setLimit(10)" value="10"> 10
        </div>
      </div>
    </form>
    <div class="span-24"> 
      <div ng-show="loading" class="loading">
        {% endraw %}
        <img src="{{ url_for('static', filename='images/ajax-loader.gif') }}">
        {% raw %}
      </div>
      <div>
        <table class="table table-striped" ng-show="stocks">
          <thead>
            <tr>
              <th>Rank</th>
              <th>Code</th>
              <th>Name</th>
              <th>ROE</th>
              <th>PE</th>
              <th>Market Cap</th>
              <th>Debt</th>
          </tr></thead>
          <tbody>

            <tr ng-repeat="stock in stocks">
              <td>{{ $index + 1 }}</td>
              <td><a href='http://au.finance.yahoo.com/q?s={{ stock.code }}.AX'>{{ stock.code }}</a></td>
              <td><a href='http://au.finance.yahoo.com/q?s={{ stock.code }}.AX'>{{ stock.name }}</a></td>
              <td>{{ stock.roe | percentage }}</td>
              <td>{{ stock.pe }}</td>
              <td>{{ stock.market_cap | millions }}</td>
              <td>{{ stock.total_debt_ratio | percentage }}</td>
            </tr>
          </div>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endraw %}
  </div>
</div>

{% endblock %}
